@{
    ViewBag.Title = "Solder Songs and Voices of Northwest Arkansas";
}
<p>
    <div align="center"><h3>Welcome to the Solder Songs and Voices of Northwest Arkansas Website!</h3></div>
    <div align="center"><img src="~/Assets/images/SSVNWALogo.png" /></div>
    <div align="center">The mission of Soldier Songs &amp; Voices NWA is to foster a creative and supportive community of veterans through music instruction, performance, and outreach.</div>
    <div align="center">Please create an account and/or log in to access member services.</div>
</p>


